<!DOCTYPE html>
<html>
    <head>
        <title>My Web Site!</title>
    </head>
    <body>
        <h1>First Page</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum posuere purus nec imperdiet tempor. Donec bibendum est dictum, consequat nibh ac, pretium sem. Vestibulum tincidunt sed diam hendrerit pulvinar. Suspendisse dolor sapien, dictum eget blandit vel, sollicitudin sit amet nisi. Cras eu magna sed erat dapibus tincidunt id tristique est. Curabitur et erat tincidunt, congue felis vitae, auctor sem. Ut ex elit, tincidunt nec venenatis varius, egestas eget elit. Cras tincidunt neque quis felis venenatis, in sollicitudin ipsum viverra.
        </p>
        <a href="{{url_for('more')}}">See more...</a>
    </body>
</html>