<!DOCTYPE html>
<html>
    <head>
        <title>My Web Site!</title>
    </head>
    <body>
        <h1>Second Page</h1>
        <p>
            Donec facilisis orci sed sapien cursus sollicitudin. Donec a nunc scelerisque, tristique dolor eget, pellentesque metus. Proin posuere tortor malesuada odio finibus, at venenatis neque dictum. Vestibulum porttitor, leo non pulvinar posuere, tellus eros imperdiet erat, sed eleifend tellus enim sed elit. Etiam quis erat nulla. Nulla a semper tortor. Morbi ut metus nec eros varius venenatis a sed libero. Proin iaculis, lacus sed vestibulum tempus, dolor sem consectetur quam, nec pulvinar libero justo quis lorem. Quisque ut purus est. Ut nec rhoncus metus, eu mollis sem. Quisque elit urna, semper ac quam eget, ultrices pellentesque felis. Sed faucibus ultrices neque, a varius mi tempor eu. Suspendisse vitae lacus nisl.
        </p>
        <a href="{{url_for('index')}}">Go back</a>
    </body>
</html>